.block0{height: 60px; position: fixed; background-color: black; opacity: 0.6; border-radius: 20%;}
.block1{height: 175px; padding-top: 100px;}
.menu{height: 30px; width: 100%; background-color: black;}
a{color:#D7DF01;}
a:visited{color:#D7DF01;}
a:hover{color:#440960;}
.block2{background-image: url("block2.jpg"); width: 96,5%; padding-top: 10px; background-size: cover; height: 1000px; border: 10px double #3B170B;}
.block2block1{background-image: url("k/k0001.png"); width: 255px; height: 400px; float: left; margin: 1%;}
.block2block2{background-image: url("k/k0002.jpg"); width: 255px; height: 400px; float: left; margin: 1%;}
.block2block3{background-image: url("k/k0003.jpg"); width: 255px; height: 400px; float: left; margin: 1%;}
.block2block4{background-image: url("k/k0004.jpg"); width: 255px; height: 400px; float: left; margin: 1%;}
.block2block5{background-image: url("k/k0005.jpg"); width: 255px; height: 400px; float: left; margin: 1%;}
k{color:#D7DF01; font-size: 20pt; font-weight: bold;}
.block2block6{background-image: url("k/k0006.jpg"); width: 255px; height: 400px; float: left; margin: 1%;}
.block2block7{background-image: url("k/k0007.jpg"); width: 255px; height: 400px; float: left; margin: 1%;}
.block2block8{background-image: url("k/k0008.jpg"); width: 255px; height: 400px; float: left; margin: 1%;}
.auth{height: 16px; width: 20%; float: right; font-size: 20pt;}